.mainHeader {
    padding: 10px 0 15px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(143, 141, 141, 0.3);
    box-shadow: 0 0 25px 0 rgba(143, 141, 141, 0.7);
}

.mainHeader nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 150px;
    border: 0;
    padding: 0;
}

.links li {
    list-style: none;
    text-decoration: none;
    border: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 0;
}

.link.activelink {
    color: #FF7E31;
    font-size: 20px;
}

.link:hover {
    color: #FF7E31;
    font-size: 20px;
    font-weight: 700;
}


@media (max-width: 600px) {
    .mainHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .mainHeader nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .links {
        margin: 10px 0;
        padding: 0;
    }
}